.nav {
  padding: 30px 0;
 
}
.nav a {
  text-align: center;
  transition: all 0.3s linear;
  text-decoration: none;
color:white

}


.nav a.active {
  color: red;
}

/*transition effect on the router */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}



/*shadow of the containers  */
.shadowbox {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
-moz-box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
}


/*import/export button styles */
.button1{
  border-radius:5px;
  border:1px solid red;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.button2{
	background-color:#3f51b5;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
